{% extends "padre.html" %}
{% load static %}

{% block contenidoCambiable %}

<div class="container">
    <br>

    <ul class="list-unstyled">
      {% for usuario in usuarios %}
      <li class="mb-3">
        <div class="d-flex align-items-center">
            {% if avatars %}
                <img src="{{ avatars.imagen.url }}" alt="avatar" width="100px" style="margin-right: 10px;">
            {% endif %}
          <div class="flex-grow-1">
            <p><strong>USUARIO:</strong> {{ usuario.username }}</p>
            <h6 class="mb-1"></h6>
            <h5 class="mb-1">{{ usuario.email }}</h5>
            <div class="d-flex">
              <a class="btn btn-warning btn-circle fas fa-pencil-alt me-2" href="{% url 'UsuarioUpdate' usuario.id %}"></a>
              <a class="btn btn-danger btn-circle fas fa-trash-alt" href="{% url 'UsuarioDelete' usuario.id %}"></a>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>


</div>


{% endblock contenidoCambiable %}