{% extends "padre.html" %}
{% load static %}

{% block contenidoCambiable %}


<form action="{% url 'UsuarioUpdate' id_usuario %}" enctype="multipart/form-data" method="post">{% csrf_token %}

    {{form.as_p}}
    {% if not message %}
    <button type="submit" class="btn btn-primary mt-3">
      <i class="fas fa-sync-alt"></i> Actualizar
    </button>
    <a href="{% url 'UsuariosAdmin' %}" class="btn btn-secondary mt-3">
      <i class="fas fa-times"></i> Cancelar
    </a>
    {% endif %}
  </form>

  {% if message %}
  <p>{{message}}</p>
  <p>Para volver has click <a href="{% url 'UsuariosAdmin' %}">aquí</a></p>

  {% else %}
  <p style="color: red;">{{ error_message }}</p>
  {% endif %}
  
 



{% endblock contenidoCambiable%}