{% extends "padre.html" %}
{% load static %}

{% block contenidoCambiable %}
<div class="container">
{% if vehiculos %}
{% if request.user.is_authenticated %}
<br>
<div class="d-flex justify-content-between align-items-center mb-3">
<form action="{% url 'VehiculoCreate' vehiculo='camionetas' %}" method="">{% csrf_token %}
  <button type="submit" class="btn btn-primary">
    <i class="fas fa-plus"></i> Publicar
  </button>
</form>
{% endif %}
<form action="{% url 'VehiculoSearch' 'camionetas' %}" method="get" class="d-flex align-items-center ms-3">{% csrf_token %}

  <input type="text" id="buscar" name="buscar" class="form-control me-2" placeholder="Buscar...">
  <button type="submit" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
</form>
</div>
<br>

<ul class="list-unstyled">
  {% for camioneta in vehiculos %}
  <li class="mb-3">
    <div class="d-flex align-items-center">
      {% if camioneta.imagen %}
        <img src="{{ camioneta.imagen.url }}" alt="avatar" width="100px" style="margin-right: 10px;">
      {% endif %}
      <div class="flex-grow-1">
        <h5 class="mb-1">{{ camioneta.titulo }}</h5>
        <div class="d-flex">
          <a class="btn btn-info btn-circle fas fa-search me-2" href="{% url 'VehiculoDetail' 'camionetas' camioneta.id %}"></a>
          {% if user.id == camioneta.vendedor.id %}
            <a class="btn btn-warning btn-circle fas fa-pencil-alt me-2" href="{% url 'VehiculoUpdate' 'camionetas' camioneta.id %}"></a>
            <a class="btn btn-danger btn-circle fas fa-trash-alt" href="{% url 'VehiculoDelete' 'camionetas' camioneta.id %}"></a>
          {% endif %}
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="text-center">
  <p>No hay camionetas disponibles.</p>
  <a href="{% url 'VehiculoCreate' vehiculo='camionetas' %}" class="btn btn-primary">Publicar un nuevo vehículo</a>
</div>
</div>
{% endif %}
{% endblock contenidoCambiable %}