{% extends "padre.html" %}
{% load static %}

{% block contenidoCambiable %}

<form action="{% url 'VehiculoDelete' 'autos' id_vehiculo %}" method="POST">{% csrf_token %}

    <p>¿Está seguro que desea borrar el vehiculo?</p>
  
    <button type="submit" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i> Eliminar
    </button>
    <a href="{% url 'Vehiculos' vehiculo='autos' %}" class="btn btn-secondary">
        <i class="fas fa-times"></i> Cancelar
    </a>
</form>

{% if message %}
<p>{{message}}</p>
<p>Para volver al menú de autos has click <a href="{% url 'Vehiculos' vehiculo='autos' %}">aquí</a></p>
{% else %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}

{% endblock contenidoCambiable%}