{% extends "padre.html" %}
{% load static %}

{% block contenidoCambiable %}
{% if request.user.is_authenticated %}
<form action="{% url 'AutoCreate' %}" method="">{% csrf_token %}
  <input type="submit" value="Publicar">
</form>
{% endif %}
<ul>
  
    {% for auto in autos %}
    <div style="display: flex; column-gap: 5px;">
      <li>
        {% if auto.imagen %}
            <img src="{{auto.imagen.url}}" alt="avatar" width="100px">
            {% endif %}
    
          {{auto.titulo}}
        
        <a href=""> Detalles </a>
        {% if user.id == auto.vendedor.id %}
          <a href=""> Actualizar </a>
        
          <a href="{% url 'AutoDelete' auto.id %}"> Eliminar </a>
        {% endif %}
        
      </li>
        
        
      </div>
    {% endfor %}
  
  </ul>
  
 



{% endblock contenidoCambiable%}