{% extends "padre.html" %}
{% load static %}

{% block contenidoCambiable %}

<form action="{% url 'AutoDelete' id_auto %}" method="POST">{% csrf_token %}

    <p>¿Está seguro que desea borrar el vehiculo?</p>
  
    <button type="submit"> Eliminar </button>
    <!--<a href="{% url 'Autos' %}"><button type="submit"> Cancelar </button></a>-->
    <button><a style="color: black; text-decoration: none;" href="{% url 'Autos' %}"> Cancelar </a> </button>
  
</form>

{% if message %}
<p>{{message}}</p>
<p>Para volver al menú de autos has click <a href="{% url 'Autos' %}">aquí</a></p>
{% else %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}

{% endblock contenidoCambiable%}