{% extends "padre.html" %}
{% load static %}

{% block contenidoCambiable %}
<br>
{% if imagenVehiculo %}
    <img src="{{imagenVehiculo}}" alt="">
{% endif %}
<p><span class="detailVehiculo">TITULO:</span> {{ titulo }}</p>
<p><span class="detailVehiculo">MARCA:</span> {{ marca }}</p>
<p><span class="detailVehiculo">MODELO:</span> {{ modelo }}</p>
<p><span class="detailVehiculo">AÑO:</span> {{ año }}</p>
<p><span class="detailVehiculo">PRECIO (US$):</span> {{ precio }}</p>
<p><span class="detailVehiculo">DESCRIPCION:</span> {{ descripcion }}</p>
<p><span class="detailVehiculo">TELEFONO VENDEDOR:</span> {{ telefono }}</p>
<p><span class="detailVehiculo">EMAIL VENDEDOR:</span> {{ email }}</p>

<p>Para volver al menú de camiones has click <a href="{% url 'Vehiculos' vehiculo='camiones' %}">aquí</a></p>

{% endblock contenidoCambiable%}