{% extends "padre.html" %}
{% load static %}

{% block contenidoCambiable %}


<form action="{% url 'VehiculoUpdate' 'trailers' id_vehiculo %}" enctype="multipart/form-data" method="post">{% csrf_token %}

    {{form.as_p}}
  
    <button type="submit"> Actualizar </button>
  
</form>

  {% if message %}
  <p>{{message}}</p>
  <p>Para volver al menú de trailers has click <a href="{% url 'Vehiculos' vehiculo='trailers' %}">aquí</a></p>
  {% else %}
  <p style="color: red;">{{ error_message }}</p>
  {% endif %}
  
 



{% endblock contenidoCambiable%}