{% extends "padre.html" %}
{% load static %}

{% block contenidoCambiable %}

<form action="{% url 'VehiculoCreate' vehiculo='motos' %}" enctype="multipart/form-data" method="post">{% csrf_token %}

    {{miFormulario.as_p}}
  
    <button type="submit"> Guardar </button>
  
</form>

{% if error_message %}
<p style="color: red;">{{ error_message }}</p>
{% else %}
<p>{{message}}</p>
<p>Para volver al menú de autos has click <a href="{% url 'Vehiculos' vehiculo='motos' %}">aquí</a></p>
{% endif %}

  
 



{% endblock contenidoCambiable%}